asn1crypto==0.23.0
beautifulsoup4==4.6.0
boto3==1.4.7
botocore==1.7.39
bs4==0.0.1
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
docutils==0.14
googletrans==2.2.0
idna==2.6
jmespath==0.9.3
pycparser==2.18
git+https://github.com/gnicod/pylinguee.git@3b936da9c56290ef7686535ea7b5bcfb4bbde7d0#egg=pylinguee
python-dateutil==2.6.1
requests==2.18.4
s3transfer==0.1.11
six==1.11.0
urllib3==1.22
